* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oleo Script Swash Caps', cursive;
    /* font-family: Arial, Helvetica, sans-serif; */
}

body{
    background-color: rgb(2,138,229);
}

.main {
    width: 600px;
    margin: 2rem auto;
    height:580px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
    border-radius: 0px;
    background-color: rgb(29,32,38);
    position: relative; /* อ้างอิงถึงกัน */ 
}

.main h2{
    padding: 15px;
    text-align: center;
    color: #fff;
}

.body_1{
    width: 423px;
    height: 112px;
    margin: 54px 0px 0px 70px;
    background-color: rgb(160, 160, 160);
    overflow: hidden;
    border-radius: 61px;
    position: absolute;
}

.line{
    position: absolute;
    width: 931px;
    height: 9px;
    margin: 105px 0px 0px 0px;
    background-color: rgb(160, 160, 160);
}

.square_1{
    width: 48px;
    height: 154px;
    margin: 33px 0px 0px 106px;
    background-color: rgb(160, 160, 160);
    overflow: hidden;
    position: absolute;
}

.square_2{
    width: 48px;
    height: 154px;
    margin: 33px 0px 0px 409px;
    background-color: rgb(160, 160, 160);
    overflow: hidden;
    position: absolute;
}

.triangle_1{
    width: 0px;
    height: 0px;
    margin: 33px 0px 0px 153px;
    border-top: 77px solid transparent;
    border-right: 128px solid rgb(160, 160, 160);
    border-bottom: 76px solid transparent;
    overflow: hidden;
    position: absolute;
    transform: rotate(180deg);
}

.triangle_2{
    width: 0px;
    height: 0px;
    margin: 33px 0px 0px 281px;
    border-top: 77px solid transparent;
    border-right: 128px solid rgb(160, 160, 160);
    border-bottom: 76px solid transparent;
    overflow: hidden;
    position: absolute;
    transform: rotate(0deg);
}

.circle_1{
    width: 77px;
    height: 154px;
    margin:33px 0px 0px 70px;
    background-color: rgb(160, 160, 160);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
}

.circle_2{
    width: 77px;
    height: 154px;
    margin:33px 0px 0px 417px;
    background-color: rgb(160, 160, 160);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
}

.line_1{
    width: 21px;
    height: 156px;
    background-color: rgb(160, 160, 160);
    margin-left: 117px;
    margin-top: 32px;
    overflow: hidden;
    position: absolute;
}

.line_2{
    width: 21px;
    height: 114px;
    background-color: rgb(160, 160, 160);
    margin-left: 202px;
    margin-top: 53px;
    overflow: hidden;
    position: absolute;
}

.line_3{
    width: 21px;
    height: 114px;
    background-color: rgb(160, 160, 160);
    margin-left: 270px;
    margin-top: 53px;
    overflow: hidden;
    position: absolute;
}

.line_4{
    width: 21px;
    height: 156px;
    background-color: rgb(160, 160, 160);
    margin-left: 425px;
    margin-top: 32px;
    overflow: hidden;
    position: absolute;
}

.img {
    height: 220px;
    margin: 0px 20px 20px 20px;
    background-color: rgb(34,38,46);
    overflow: hidden;
    border-radius: 30px;
    position: relative;
}

.result{
    display: flex;
    height: 60px;
    margin: -10px 20px 0px 20px;
    border-radius: 15px;
    background-color: rgb(3,106,203);
    align-items: center;
    padding-left: 90px;
}

.box{
    margin: 10px 20px 0px 20px;
    padding: 20px;
    height: 110px;
    border-radius: 15px;
    background-color: rgb(16,112,112);
}

.action{
    position: fixed;
}

.action .color_1{
    position: absolute;
    margin: 0px 20px 0px 15px;
    width: 100px;
    height: 70px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.action .color_2{
    position: absolute;
    margin-left: 150px;
    width: 100px;
    height: 70px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.action .color_3{
    position: absolute;
    margin-left: 280px;
    width: 100px;
    height: 70px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.action .color_4{
    position: absolute;
    margin-left: 410px;
    width: 100px;
    height: 70px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.action .menu{
    position: absolute;
    top: 120px;
    padding: 10px 20px;
    background-color: dodgerblue;
    width: 500px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.action .menu.active{
    top: 80px;
    visibility: visible;
    opacity: 1;
}

.action .menu::before{
    content: '';
    position:absolute;
    top: -10px;
    right: 40px;
    width: 20px;
    height: 20px;
    background-color: dodgerblue;
    transform: rotate(45deg);
}

.action .menu ul li{
    list-style: none;
    padding: 5px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display:inline-block;
    align-items: center;
}

.action .menu ul li a{
    display:inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}

.action .menu ul li:hover a{
    color: #fff;
}

button{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
}


